@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

body {
	margin: 0 auto;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	animation: gradient 15s ease infinite;
	background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.App {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	position: relative;
	min-height: 100vh;
}

.header-title {
	position: absolute;
	color: rgb(255, 184, 184, 0.3);
	z-index: -100;
	transform: rotate(-20deg);
	font-size: 8rem;
	font-family: "Dela Gothic One";
}

button {
	border: none;
	background-color: rgb(255, 255, 255, 0);
	color: black;

	padding: 1em;
	margin: 0.5rem;
	cursor: pointer;
	font-weight: 700;
	outline: none;
}

button:hover {
	background-color: beige;
}

.timer-btn {
	border: 4px solid black;
	margin: 0.2;
	font-size: 1.5rem;
}

.timer-btn:hover {
	box-shadow: 6px 6px 0 black;
	transform: scale(1.01);
}

.action-btns {
	border: 4px solid black;
	font-size: 1rem;
	width: 86px;
	height: 86px;
	border-radius: 50%;
}

.action-btns:hover {
	box-shadow: 4px 4px 0 black;
	transform: scale(1.1);
}

.work-break {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.the-time {
	font-family: "Dela Gothic One";
	font-size: 15rem;
	font-weight: 700;
}

@media screen and (max-width: 900px) {
	.the-time {
		font-size: 10rem;
	}
}
@media screen and (max-width: 600px) {
	.the-time {
		font-size: 7rem;
	}
}

@media screen and (max-width: 600px) {
	.the-time {
		font-size: 5rem;
	}
}
